# Base de datos
POSTGRES_USER=guardian
POSTGRES_PASSWORD=guardian_pass
POSTGRES_DB=guardian_monitor
DATABASE_URL=postgresql+asyncpg://guardian:guardian_pass@postgres:5432/guardian_monitor

# Redis
REDIS_URL=redis://redis:6379/0

# Backend
BACKEND_URL=http://backend:8000

# Detector
CAMERA_ID=CAM-01
SOURCE=webcam             # "webcam" o "video"
VIDEO_PATH=/app/test_video.mp4
MOTION_THRESHOLD=5000     # píxeles en movimiento para considerar detección
COOLDOWN_SECONDS=3
